html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Booster";
  margin-bottom: 100px; /* 60px is height of footer and the rest is space between the content and the footer */
}

