$color-blue-main: #14bbdc;
$color-blue-main-hover: #14c1e3;

$color-orange-main: #f36444;
$color-orange-main-hover: #fd6343;

$color-gray-main: #E2E2E2;
$color-gray-main-hover: #e7e7e7;

$text-color-black: #000000;
$text-color-gray: #939393;

$button-white-text: #ffffff;
$button-gray-text: #9D9D9D;

